
  <div class="container-fluid" style="margin-top:5%">
    <div class="row justify-content-md-center">
      <div class="col col-lg-9">
        <div class="card card-border-color card-border-color-primary">
          <div class="card-header card-header-divider">Banner</div>
          <div class="card-body">
            <!-- <form action="#" data-parsley-validate="" novalidate=""> -->

              <div class="row pt-0 pt-sm-5">
                <div class="col-sm-6 pb-2 pb-sm-4 pb-lg-0 pr-0">
                  <div class="form-group">
                    <label for="inputUserName">Title</label>
                    <input class="form-control" id="inputUserName" type="text" name="nick" parsley-trigger="change" required="" placeholder="Enter Title" autocomplete="off">
                  </div>
                </div>
                <div class="col-sm-3 pb-2 pb-sm-4 pb-lg-0 pr-0">
                  <div class="form-group">
                    <label for="inputUserName">Start Date</label>
                    <input class="form-control" type="date" id="birthday" name="birthday">
                  </div>
                </div>
                <div class="col-sm-3 pb-2 pb-sm-4 pb-lg-0 pr-0">
                  <div class="form-group">
                    <label for="inputUserName">End Date</label>
                    <input class="form-control" type="date" id="birthday" name="birthday">
                  </div>

                </div>
              </div>
              <div class="row pt-0 pt-sm-5">
                <div class="col-sm-6 pb-2 pb-sm-4 pb-lg-0 pr-0">
                  <div class="form-group">
                    <label for="inputUserName">Description</label>
                    <textarea class="form-control" id="inputTextarea3"></textarea>
                  </div>
                </div>
                <div class="col-sm-3 pb-2 pb-sm-4 pb-lg-0 pr-0">
                  <div class="form-group">
                    <label for="inputUserName">Priority</label>
                    <input class="form-control" type="number" id="birthday" name="birthday">
                  </div>
                </div>
                <div class="col-sm-3 pb-2 pb-sm-4 pb-lg-0 pr-0">
                  <button class="btn btn-space btn-primary" type="submit" style="margin-top:30px">Submit</button>

                </div>
              </div>
              <div class="row pt-0 pt-sm-5">
                <div class="col-sm-6 pb-2 pb-sm-4 pb-lg-0 pr-0">
              <div class="form-group">
                <label for="inputUserName">Upload</label>
                <input class="form-control" id="inputUserName" type="file" name="nick" parsley-trigger="change" required="" placeholder="Enter Url" autocomplete="off">
              </div>
            </div>
          </div>
            <!-- </form> -->
          </div>
        </div>
        <div class="card card-border-color card-border-color-primary">
          <div class="card-body">
            <div class="row pt-0 pt-sm-5">
              <div class="col-sm-2 pb-2 pb-sm-4 pb-lg-0 pr-0" >
                <div style=" background-image: url('img_tree.gif');background-repeat: no-repeat, repeat;background-color: #000000;height:10vh">
                </div>
                <img src="../assets/edit.png" alt="Edit" style="height:30px; text-align:right" >
                <img src="../assets/delete.png" alt="Edit" style="height:30px"  >
              </div>
              <div class="col-sm-2 pb-2 pb-sm-4 pb-lg-0 pr-0">
                <div style=" background-image: url('img_tree.gif');background-repeat: no-repeat, repeat;background-color: #000000;height:10vh">

                </div>
                <img src="../assets/edit.png" alt="Edit" style="height:30px; text-align:right" >
                <img src="../assets/delete.png" alt="Edit" style="height:30px"  >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
