
  <div class="container-fluid" style="margin-top:5%">
    <div class="row justify-content-md-center">
      <div class="col col-lg-9">
        <div class="card card-border-color card-border-color-primary">
          <div class="card-header card-header-divider">Our Team</div>
          <div class="card-body">
            <!-- <form action="#" data-parsley-validate="" novalidate=""> -->

              <div class="row pt-0 pt-sm-5">
                <div class="col-sm-4 pb-2 pb-sm-4 pb-lg-0 pr-0">
                  <div class="form-group">
                    <label for="inputUserName">First Name</label>
                    <input class="form-control" id="inputUserName" type="text" name="nick" parsley-trigger="change" required="" placeholder="Enter First Name" autocomplete="off">
                  </div>
                </div>
                <div class="col-sm-4 pb-2 pb-sm-4 pb-lg-0 pr-0">
                  <div class="form-group">
                    <label for="inputUserName">Middle Name</label>
                    <input class="form-control" id="inputUserName" type="text" name="nick" parsley-trigger="change" required="" placeholder="Enter Middle Name" autocomplete="off">
                  </div>
                </div>
                <div class="col-sm-3 pb-2 pb-sm-4 pb-lg-0 pr-0">
                  <div class="form-group">
                    <label for="inputUserName">Last Name</label>
                    <input class="form-control" id="inputUserName" type="text" name="nick" parsley-trigger="change" required="" placeholder="Enter Last Name" autocomplete="off">
                  </div>

                </div>
              </div>
              <div class="row pt-0 pt-sm-5">

                <div class="col-sm-4 pb-2 pb-sm-4 pb-lg-0 pr-0">
                  <div class="form-group">
                    <label for="inputUserName">Profile</label>
                    <input class="form-control" type="text" id="birthday" placeholder="Enter Profile" name="birthday">
                  </div>
                </div>
                <div class="col-sm-4 pb-2 pb-sm-4 pb-lg-0 pr-0">
                  <div class="form-group">
                    <label for="inputUserName">Native</label>
                    <input class="form-control" type="text" id="birthday" placeholder="Enter Profile" name="birthday">
                  </div>
                </div>
                <div class="col-sm-4 pb-2 pb-sm-4 pb-lg-0 pr-0">
                  <div class="form-group">
                    <label for="inputUserName">Description</label>
                    <textarea class="form-control" id="inputTextarea3"></textarea>
                  </div>
                </div>

              </div>
              <div class="row pt-0 pt-sm-5">
                <div class="col-sm-4 pb-2 pb-sm-4 pb-lg-0 pr-0">
                  <div class="form-group">
                    <label for="inputUserName">Facebook URL</label>
                    <input class="form-control" id="inputUserName" type="text" name="nick" parsley-trigger="change" required="" placeholder="Enter Facebook URL" autocomplete="off">
                  </div>
                </div>
                <div class="col-sm-4 pb-2 pb-sm-4 pb-lg-0 pr-0">
                  <div class="form-group">
                    <label for="inputUserName">Linkedin URL</label>
                    <input class="form-control" id="inputUserName" type="text" name="nick" parsley-trigger="change" required="" placeholder="Enter Linkedin URL" autocomplete="off">
                  </div>
                </div>
                <div class="col-sm-3 pb-2 pb-sm-4 pb-lg-0 pr-0">
                  <div class="form-group">
                    <label for="inputUserName">Instagram URL</label>
                    <input class="form-control" id="inputUserName" type="text" name="nick" parsley-trigger="change" required="" placeholder="Enter Instagram URL" autocomplete="off">
                  </div>

                </div>
              </div>
              <div class="row pt-0 pt-sm-5">
              <div class="col-sm-4 pb-2 pb-sm-4 pb-lg-0 pr-0">
              <div class="form-group">
                <label for="inputUserName">Upload</label>
                <input class="form-control" id="inputUserName" type="file" name="nick" parsley-trigger="change" required="" placeholder="Enter Url" autocomplete="off">
              </div>
            </div>
            <div class="col-sm-4 pb-2 pb-sm-4 pb-lg-0 pr-0">
              <div class="form-group">
                <label for="inputUserName">Select Team</label>
                <select name="select" id="select" class="form-control">
                  <option value="volvo">Team 1</option>
                  <option value="saab">Team 2</option>
                  <option value="mercedes">Team 3</option>
                  <option value="audi">Team 4</option>
                </select>
              </div>
            </div>
            <div class="col-sm-4 pb-2 pb-sm-4 pb-lg-0 pr-0">
              <button class="btn btn-space btn-primary" type="submit" style="margin-top:30px">Submit</button>
            </div>
          </div>
            <!-- </form> -->
          </div>
        </div>
        <div class="card card-border-color card-border-color-primary">
          <div class="card-body">
            <!-- <form action="#" data-parsley-validate="" novalidate=""> -->

            <div class="row pt-0 pt-sm-5">
              <div class="col-sm-4 pb-2 pb-sm-4 pb-lg-0 pr-0">
                <div class="form-group">
                  <label for="inputUserName">Select Team</label>
                  <select name="select" id="select" class="form-control">
                    <option value="volvo">Team 1</option>
                    <option value="saab">Team 2</option>
                    <option value="mercedes">Team 3</option>
                    <option value="audi">Team 4</option>
                  </select>
                </div>
              </div>
              <div class="col-sm-4 pb-2 pb-sm-4 pb-lg-0 pr-0">
                <div class="form-group">
                  <label for="inputUserName">Search</label>
                  <input class="form-control" id="inputUserName" type="text" name="nick" parsley-trigger="change" required="" placeholder="Search" autocomplete="off">
                </div>
              </div>
              <div class="col-sm-4 pb-2 pb-sm-4 pb-lg-0 pr-0">
                <button class="btn btn-space btn-primary" type="submit" style="margin-top:30px">Filter</button>
              </div>
            </div>
            <!-- </form> -->
            <div class="row pt-0 pt-sm-5">
              <div class="col-sm-12 pb-2 pb-sm-4 pb-lg-0 pr-0">
                <div id="table5_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                  <div class="row be-datatable-body">
                    <div class="col-sm-12">
                      <table class="table table-striped table-hover table-fw-widget dataTable no-footer dtr-" id="table5" role="grid" aria-describedby="table5_info">
                        <thead>
                          <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="table5" rowspan="1" colspan="1" style="width: 314px;" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">First Name</th>
                            <th class="sorting" tabindex="0" aria-controls="table5" rowspan="1" colspan="1" style="width: 285px;" aria-label="Browser: activate to sort column ascending">Last Name</th>
                            <th class="sorting" tabindex="0" aria-controls="table5" rowspan="1" colspan="1" style="width: 357px;" aria-label="Platform(s): activate to sort column ascending">Native Place</th>
                            <th class="sorting" tabindex="0" aria-controls="table5" rowspan="1" colspan="1" style="width: 261px;" aria-label="Engine version: activate to sort column ascending">Profile</th>
                            <th class="sorting" tabindex="0" aria-controls="table5" rowspan="1" colspan="1" style="width: 201px;" aria-label="CSS grade: activate to sort column ascending">Description</th>
                            <th class="sorting" tabindex="0" aria-controls="table5" rowspan="1" colspan="1" style="width: 201px;" aria-label="CSS grade: activate to sort column ascending">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="gradeA odd" role="row">
                            <td class="sorting_1" tabindex="0">Webkit</td>
                            <td>Safari 1.2</td>
                            <td>OSX.3</td>
                            <td class="center">125.5</td>
                            <td class="center">A</td>
                            <td class="center">
                              <img src="../assets/edit.png" alt="Edit" style="height:30px; text-align:right">
                              <img src="../assets/delete.png" alt="Edit" style="height:30px">
                            </td>
                          </tr>
                          <tr class="gradeA even" role="row">
                            <td class="sorting_1" tabindex="0">Webkit</td>
                            <td>Safari 1.3</td>
                            <td>OSX.3</td>
                            <td class="center">312.8</td>
                            <td class="center">A</td>
                            <td class="center">
                              <img src="../assets/edit.png" alt="Edit" style="height:30px; text-align:right">
                              <img src="../assets/delete.png" alt="Edit" style="height:30px">
                            </td>
                          </tr>
                          <tr class="gradeA odd" role="row">
                            <td class="sorting_1" tabindex="0">Webkit</td>
                            <td>Safari 2.0</td>
                            <td>OSX.4+</td>
                            <td class="center">419.3</td>
                            <td class="center">A</td>
                            <td class="center">
                              <img src="../assets/edit.png" alt="Edit" style="height:30px; text-align:right">
                              <img src="../assets/delete.png" alt="Edit" style="height:30px">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
